.form__field {
    border: #bababa solid 1px;
    padding: 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 35px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
}

.form__field__container {
    border: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 220px;
    min-height: 70px;
}

.form__field_error {
    border-color: #f04e26;
}

.form__field:focus {
    border-color: #38c1db;
}

.select {
    border: none;
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 35px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
    min-width: 220px;
}