.button_actions {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
    color: #808080;
    position: relative;
    font-family: 'Lucida Console', 'Courier', monospace;
    bottom: 0;
    margin: 10px auto;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
}

.button_actions::before {
    content: 'Actions \2699';
}

.button_actions:hover {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
    cursor: pointer;
}