.button {
    width: max-content;
    background-color: #38c1db;
    margin: 5px;
    padding: 10px;
    border: #38c1db solid 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
    border-radius: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.button::-moz-focus-inner {
    border: 0;
}

.button:hover, .button:focus {
    background-color: #339EB2;
    border-color: #339EB2;
    cursor: pointer;
}
