.button_new {
    font-family: 'Lucida Console', 'Courier', monospace;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    transform: rotate(45deg);
}

.button_new::after {
    content: '\2715';
}

.button_new:hover {
    cursor: pointer;
    transform: rotate(45deg);
}