.button {
    box-sizing: border-box;
    width: max-content;
    margin: 5px;
    padding: 10px;
    background-color: #38c1db;
    border: #38c1db solid 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
    border-radius: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: larger;
    text-align: center;
    line-height: 100%;
    z-index: 1;
}

.button::-moz-focus-inner {
    border: 0;
}

.button:hover {
    background-color: #339EB2;
    border-color: #339EB2;
    cursor: pointer;
    transform: scale(1.03);
}

.button:disabled {
    background-color: #d6d4d6;
    border: #d6d4d6;
    box-shadow: none;
    cursor: inherit;
}

.button:disabled:hover {
    transform: none;
}

