.text_link {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    font-style: italic;
    border-bottom: #bababa dashed 1px;
    color: #bababa;
}

.text_link_disabled {
    color: #bababa;
    display: inline-block;
    margin: 0;
}