.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.form_newUser_hidden {
    transition: 0.3s;
    transform: translateY(-1000px);
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.form_newUser_visible {
    transition: 0.3s;
    transform: translateY(0);
}

.form_login_hidden {
    transition: 0.3s;
    transform: translateY(1000px);
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.form_login_visible {
    transition: 0.4s;
    transform: translateY(0);
}
