.newRoomForm_visible {
    position: relative;
    width: 100%;
    top: 0;
    opacity: 100%;
}

.newRoomForm_visible-appear {
    transform: translateY(-200%);
    opacity: 0;
}

.newRoomForm_visible-appear-active {
    transform: none;
    opacity: 100%;
    transition: all ease-in-out 300ms;
}

.newRoomForm_visible-exit {
    transform: none;
    opacity: 100%;
}

.newRoomForm_visible-exit-active {
    transform: translateY(-200%);
    opacity: 0;
    transition: all ease-in-out 300ms;
}

.newRoomForm_visible-exit-done {
    transform: translateY(-200%);
    opacity: 0;
}

.button_animation {
    opacity: 100%;
}

.button_animation-appear {
    opacity: 0;
}

.button_animation-appear-active {
    transition: opacity ease-in-out 300ms;
    opacity: 100%;
}

.button_animation-exit {
    opacity: 100%;
}

.button_animation-exit-active {
    opacity: 0;
    transition: opacity ease-in-out 300ms;
}

.button_animation-exit-done {
    opacity: 0;
}