.popup {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding-left: 15px;
    padding-right: 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: -2px -2px 8px 2px rgba(0,0,0,0.3);
    z-index: 9999;
}

.popup-appear {
    transform: translateY(200%);
}

.popup-appear-active {
    transition: all ease-in-out 300ms;
    transform: none;
}

.popup-exit {
    transform: none;
}

.popup-exit-active {
    transform: translateY(200%);
    transition: all ease-in-out 300ms;
}

.popup-exit-done {
    transform: translateY(200%);
}

.popup_success {
    background-color: #00b64a;
}

.popup_error {
    background-color: #CC2802;
}