.spinner {
    display: inline-block;
    font-size: 2em;
    animation: goal 1s infinite alternate;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1.2em; /*magic value*/
}

@keyframes goal {
    from {
        margin-left: calc(100% - 1.2em);
    }
    to {
        margin-left: 0;
    }
}