.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 100%;
    min-width: 300px;
    background-color: #371747;
    min-height: 70px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.header_main {
    background-color: #231036;
    padding-right: 0;
    border-radius: 0;
}

.header_main > p {
    width: calc(100% - 60px);
}