.form__field {
    border: #bababa solid 1px;
    padding: 10px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
}

.form__field__container {
    border: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 280px;
    min-height: 85px;
    padding: 0;
}

.form__field_error {
    border-color: #f04e26;
}

.form__field:focus {
    border-color: #38c1db;
}

.select {
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
    min-width: 280px;
    max-width: 95%;
}

.form__field__control {
    border: none;
    min-height: 45px;
    max-height: 80px;
    overflow: auto;
}

