.table {
    box-sizing: border-box;
    margin: 5px auto 20px;
    padding: 5px;
    width: 95%;
    min-width: 285px;
    background-color: #FFFFFF;
    border: #d6d4d6 solid 1px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

.table__columns {
    border-bottom: #dcdbdc solid 1px;
    box-shadow: none;
}

.table__rows {
    border-bottom: #dcdbdc solid 1px;
    box-shadow: none;
}

.table .text {
    overflow: hidden;
}