.table {
    margin: 10px auto 20px;
    padding: 5px;
    width: 85%;
    background-color: #FFFFFF;
    border: #d6d4d6 solid 1px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    text-align: center;
    border-collapse: collapse;
}

.table__columns {
    border-bottom: #dcdbdc solid 1px;
    box-shadow: none;
}

.table__rows {
    border-bottom: #dcdbdc solid 1px;
    box-shadow: none;
}