.App, html, #root, body {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

input, select, textarea, button {
    -moz-box-shadow:none;
    -moz-appearance:none;
}

*:focus {
    outline: none;
}